$smallest-size: 330px;
$small-size: 400px;
$medium-size: 600px;
$optimal-size: 770px;
$large-size: 901px;
$extra-size: 1014px;

@mixin smallest {
  @media screen and (max-width: $smallest-size) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $small-size) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $medium-size) {
    @content;
  }
}

@mixin optimal {
  @media screen and (max-width: $optimal-size) {
    @content;
  }
}

@mixin large {
  @media screen and (max-width: $large-size) {
    @content;
  }
}

@mixin extra {
  @media screen and (max-width: $extra-size) {
    @content;
  }
}

@mixin button {
  outline: none;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

@mixin make-font($font-size, $line-height) {
  font-size: $font-size + px;
  line-height: $line-height / $font-size;
}

@mixin link-button {
  @include make-font(15, 20);
  position: relative;
  color: #222;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  padding: 10px;
}

@mixin visually-hidden {
  appearance: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
