.articles {
  margin-top: 74px;

  @include large {
    margin-top: 40px;
  }
}

.articles__list {
  gap: 12px 15px;

  @include large {
    gap: 30px 15px;
  }
}

.articles__title {
  @include make-font(16, 27); //was 9px
  padding: 0;
  margin-top: 15px;
}

.articles__description {
  margin-top: 10px;
}

.articles__link {
  @include link-button;
  margin-top: 14px;
}
