body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex-grow: 1;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px #c7c7c7;
  }
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}
