/* icon-button */

.button--icon {
  @include button;
  padding: 5px 6px 9px;
  align-items: center;
}

.button--icon-image {
  @include button;
  @include make-font(12, 19); /*was 5px*/
  // font-size: 5px;
}

.button--icon-content {
  @include button;
  @include make-font(12, 19); /*was 5px*/
  font-weight: 300;
  color: #222;
  text-transform: uppercase;
  margin-left: 5px;
}

/* button with icon */

.button--with-icon {
  @include button;
  @include make-font(14, 21); /*was 7px*/

  background: #222;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  padding: 10px 20px 10px 18px; //was 10 16 10 14
}
