.header {
  padding: 17px 0;
  background: #fcfcfc;

  @include large {
    padding: 10px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  min-width: 115px; /*was 90px*/
  max-width: 115px;

  @include large {
    margin: 0 auto;
  }
}
