.header {
  padding: 17px 0;
  background: #fcfcfc;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  min-width: 115px; /*was 90px*/
  max-width: 115px;
}

/* main - navigation */

.nav__item--main:not(:first-child) {
  margin-left: 15px;
}

.nav__link--main {
  @include make-font(13, 18); /* was 8px*/
}
