.hero {
  background: #efefef;
  padding: 93px 0 133px 0;

  @include large {
    padding: 70px 0 65px 0;
  }
}

.hero__column--content {
  @include large {
    text-align: center;
  }
}

.hero__title {
  @include make-font(30, 46); /*was 25px*/
  color: #222;
  font-weight: 900;
}

.hero__description {
  margin-top: 18px;
  @include make-font(13, 23); /*was 8px*/
  color: rgb(34, 34, 34, 0.8);
  font-weight: 300;
}

.hero__link {
  @include link-button;
  margin-top: 30px;
}

/* .hero__img {
  position: absolute;
  top: 0;
} */
