.instagram {
  margin-top: 80px;
}

.instagram__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.instagram__image-wrapper {
  width: 12.5%;
  height: 165px;
}

.instagram__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.instagram__btn {
  @include make-font(16.5, 27); //was 9.5px
  padding: 20px 50px; //was 12px 30px
  font-weight: 300;
  position: absolute;
  background: rgb(34, 34, 34, 0.55);
}

.instagram__btn--content {
  margin-left: 7px;
}
