.nav {
  @include large {
    position: fixed;
    opacity: 0;
    left: -100%;

    transition: opacity 0.2s ease-in-out;
  }
}

.nav-btn {
  width: 25px;
  height: 25px;
  background: url(../img/menu.svg);
  background-size: contain;
  display: none;

  @include large {
    display: inline-block;
  }
}

.nav-btn__checkbox {
  @include visually-hidden;
}

.nav-btn__checkbox:checked + .nav {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  z-index: 9;

  opacity: 1;

  .nav__list--main {
    transform: translateX(0);
  }
}

.nav__list {
  display: flex;
}

.nav__list--main {
  @include large {
    display: block;
    width: 200px;
    height: 100%;
    background: #f1ece8;
    padding-left: 20px;
    padding-top: 20px;

    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }
}

.nav__link {
  font-weight: 300;
  color: #c7c7c7;
}

.nav__item--main {
  @include large {
    padding: 5px 0;
  }
}

.nav__item--main:not(:first-child) {
  margin-left: 15px;

  @include large {
    margin-left: 0;
  }
}

.nav__link--main {
  @include make-font(13, 18); /* was 8px*/

  @include large {
    color: #222;
    @include make-font(18, 25); /* was 8px*/
  }
}

.nav__link--active {
  color: #222;
  text-decoration: underline;
}
