.products {
  margin-top: 72px;
  background: #fff;

  @include large {
    margin-top: 40px;
  }
}

.products__list {
  margin-top: 24px;
  gap: 17px 20px; /*was 12px and 15px*/
}

.products__link--nav {
  @include link-button;
}

/* navigation - filter */

.nav--filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 879px) {
    padding: 0 100px;
  }

  @include optimal {
    padding: 0 40px;
  }

  @media screen and (max-width: 589px) {
    padding: 0 80px;
  }

  @include small {
    padding: 0 40px;
  }

  @include smallest {
    padding: 0;
  }
}

.nav__list--filter {
  @include large {
    display: block;
    overflow: hidden;
    width: 80px;
    height: 25px;
  }
}

.nav__item--filter:not(:first-child) {
  margin-left: 25px;

  @include large {
    margin-left: 0;
  }
}

.nav__link--filter {
  @include make-font(14, 19);
}
