.subscription {
  margin-top: 75px;

  @include large {
    margin-top: 40px;
  }
}

.subscription__container {
  background: #efefef;
  text-align: center;
  padding: 28px 0; //was 34 0 28
  position: relative;

  @include large {
    padding: 28px 15px;
    z-index: -1;
  }
}

.subscription__container::before {
  content: "";
  background: url(../img/girl1.png) center center no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 15px;
  bottom: 0;

  @include large {
    display: none;
  }
}

.subscription__container::after {
  content: "";
  background: url(../img/girl2.png) center center no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  right: 15px;
  bottom: 0;

  @include large {
    display: none;
  }
}

.subscription__content {
  padding: 0 250px;

  @include large {
    padding: 0;
  }
}

.subscription__title {
  @include make-font(19, 30); /*was 12px*/
  font-weight: 300;
  color: #222;
  text-transform: uppercase;
}

.subscription__title--bold {
  font-weight: 400;
}

.subscription__description {
  @include make-font(14, 25); /*was 7px*/
  font-weight: 300;
  color: #222;
}

.subscription__actions {
  margin-top: 25px;
}

.subscription__input {
  @include make-font(14, 22); /*was 7px*/
  width: 275px; // was 175px
  padding: 10px 14px;
  font-weight: 300;
  border: none;
  color: #c7c7c7;

  @include small {
    width: 175px;
  }

  @include smallest {
    width: 150px;
  }
}

.subscription__btn {
  margin-left: 15px;

  @media screen and (max-width: 480px) {
    margin-left: -2px;
  }
}

.subscription__btn--content {
  margin-left: 5px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}
