@import "../../node_modules/normalize-scss/sass/normalize.scss";
@import "./mixins.scss";
@import "./blocks/global.scss";
@import "./blocks/grid.scss";
@import "./blocks/buttons.scss";
@import "./blocks/card.scss";
@import "./blocks/navigation.scss";
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/products.scss";
@import "./blocks/recommendations.scss";
@import "./blocks/featured.scss";
@import "./blocks/subscription.scss";
@import "./blocks/articles.scss";
@import "./blocks/instagram.scss";
@import "./blocks/categories.scss";
@import "./blocks/footer.scss";
