.footer {
  margin-top: 74px;

  @include large {
    margin-top: 40px;
  }
}

.footer__container--top {
  display: flex;
  justify-content: space-between;
  align-items: end;

  @include large {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__container--bot {
  text-align: center;
}

/* footer-top part */

.footer__top {
  background: #f7f7f7;
  padding: 30px 0;

  @include medium {
    padding: 25px 10px;
  }
}

.footer__column {
  min-width: 25%;

  @include large {
    min-width: 30%;
  }
}

.footer__column--address {
  padding-right: 16px;

  @include large {
    padding-right: 0;
    text-align: center;
    order: 4;
  }
}

.footer__column--other {
  padding-top: 20px;

  @include medium {
    min-width: 100%;
    margin-bottom: 15px;
  }

  @include large {
    padding-top: 0;
    text-align: center;
  }
}

/* address */

.address__list {
  padding-left: 25px;
  margin-top: 20px;

  @include large {
    padding-left: 0;
  }
}

.address__list--item {
  margin-top: 10px;
  position: relative;
}

.address__list--item:first-child {
  margin-top: 0;
}

.address__link {
  @include make-font(15, 25); //was 8px
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  color: #222;
  display: block;
  width: 100%;
}

.address__link--icon {
  @include make-font(17, 28); //was 10px
  position: absolute;
  top: 4px;
  left: -25px;

  @include large {
    position: static;
    display: none !important;
  }
}

/* social media */

.social-media__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;

  @include large {
    justify-content: space-around;
    margin: 20px auto 0;
  }
}

.social-media__link {
  @include make-font(17, 28); //was 10px

  color: #222;
}

/* footer columns 2,3,4 */

.footer__column--title {
  @include make-font(19, 30); //was 12px

  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__list {
  margin-top: 20px;
}

.footer__link {
  @include make-font(15, 25); //was 8px

  font-weight: 300;
  color: #222222;
}

.address__link:hover,
.footer__link:hover {
  color: #808080;
}

/* footer-bottom part */

.footer__bot {
  padding: 28px 0;

  @include medium {
    padding: 15px 0;
  }
}

.copyright {
  @include make-font(15, 25); //was 8px

  font-weight: 300;
}
