.recommendations {
  margin-top: 70px;

  @include large {
    margin-top: 40px;
  }
}

.recommendations__container {
  display: flex;

  gap: 0 19px; /*was 15px*/

  @include optimal {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 19px 0;
  }
}

.banner {
  position: relative;
  max-width: 415px; /*was 269px*/

  // @include large {
  //   z-index: -1;
  // }
}

.banner__content {
  position: absolute;
  top: 50px;

  @include small {
    top: 40px;
  }
}

.banner__title {
  @include make-font(15, 24); /*was 8px*/
  font-weight: 400;
  color: #222;
  text-transform: uppercase;

  @include small {
    text-indent: 3px;
    @include make-font(12, 22); /*was 8px*/
  }

  @media screen and (max-width: 340px) {
    @include make-font(10, 20); /*was 8px*/
  }
}

.banner__description {
  @include make-font(19, 34); /*was 12px*/
  font-weight: 600;
  color: #222;
  text-transform: uppercase;

  @include small {
    @include make-font(16, 32); /*was 8px*/
  }

  @media screen and (max-width: 340px) {
    @include make-font(14, 18); /*was 8px*/
  }
}

.banner__link {
  @include link-button;
  margin-top: 10px;
}

.banner__content--first {
  right: 22px;

  @include small {
    right: 15px;
  }
}

.banner__content--second {
  left: 22px;

  @include small {
    left: 15px;
  }
}
